@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --customeBlue: #2B71F0;  
    --darkBlue: #001A40;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }

